In [1]:
# Import the dependencies.
import pandas as pd

import matplotlib.pyplot as plt

import pathlib as Path

In [2]:
# Files to load
bottom_tier = "bottom_tier.csv"
top_tier = "top_tier.csv"

In [3]:
# Load CSVs
# Load Zillow Home Value Index (ZHVI) CSVS
#higher value homes value index

# top_tier
bottom_tier_df = pd.read_csv(bottom_tier)
bottom_tier_df.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,9,0,California,state,NaN,89624.515496,89884.433457,90238.378672,91016.357221,91927.959329,...,453606.509898,458283.477498,460225.049623,459329.031446,456413.649672,453490.379120,450836.847710,447977.931639,445233.122512,443732.072378
1,54,1,Texas,state,NaN,45216.179220,45232.262069,45232.902130,45274.496444,45297.104597,...,152121.376615,154219.962249,155651.135837,156267.965090,156238.806184,156230.582057,156216.864130,155966.859437,157180.859647,158813.326460
2,14,2,Florida,state,NaN,47321.386391,47419.997110,47544.225430,47801.359914,48088.896650,...,225506.975031,230911.273801,235012.521558,237642.484361,238832.617055,239488.726785,239995.497942,239940.222144,240212.615818,240716.010065
3,43,3,New York,state,NaN,59664.039749,59854.033446,60043.257891,60453.791670,60898.438923,...,190683.528569,193669.512760,195740.533141,196788.061532,196711.606851,196470.887585,196371.598223,196102.753785,196161.417482,196463.866752
4,47,4,Pennsylvania,state,NaN,33211.520698,33275.067849,33335.577025,33466.397957,33614.644706,...,119054.183310,120178.976156,120605.644971,120345.178225,119758.372942,119713.606592,120050.520749,120409.350367,121548.300341,122704.062243
5,21,5,Illinois,state,NaN,36073.718331,36094.565711,36160.303038,36301.144718,36472.395390,...,106009.236584,106680.911130,106879.245562,106738.041890,106410.150354,106467.198581,106814.799330,107137.660737,108609.867521,110559.153879
6,44,6,Ohio,state,NaN,34274.232208,34291.881224,34327.386705,34428.253768,34587.239371,...,102885.826670,104267.650902,105165.034705,105509.062151,105439.850284,105511.254826,105725.113619,105998.564943,106773.364177,107650.379376
7,16,7,Georgia,state,NaN,38992.575868,39071.203069,39168.234964,39375.140611,39610.397957,...,149189.284735,151640.425763,153527.119179,154716.194867,155163.016132,155373.111417,155465.606454,155389.079874,156550.752846,158256.126520
8,36,8,North Carolina,state,NaN,45181.794529,45243.859773,45306.597587,45453.740169,45629.993446,...,148902.249703,152017.649537,154207.251003,155463.228274,155911.472101,156182.750453,156371.002754,156391.592038,157597.663370,159490.138014
9,30,9,Michigan,state,NaN,26259.998892,26267.599398,26320.480768,26426.457801,26593.727268,...,99100.696568,99953.844419,100166.652345,99850.931873,99190.818754,98812.810245,98555.996178,98390.614961,99911.728281,101851.839318

In [4]:
# top_tier
top_tier_df = pd.read_csv(top_tier)
top_tier_df.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,9,0,California,state,NaN,381410.654145,382858.269690,384757.256827,389018.989392,393956.211781,...,1.415305e+06,1.424817e+06,1.420717e+06,1.403990e+06,1.381147e+06,1.362187e+06,1.349850e+06,1.339346e+06,1.323552e+06,1.306169e+06
1,54,1,Texas,state,NaN,202916.175548,203032.083831,203105.204527,203405.058772,203617.483845,...,5.126797e+05,5.219244e+05,5.257246e+05,5.246636e+05,5.201043e+05,5.160057e+05,5.125537e+05,5.089499e+05,5.054180e+05,5.027895e+05
2,14,2,Florida,state,NaN,207723.490682,208190.558962,208753.868875,209893.169308,211117.400523,...,6.375263e+05,6.515731e+05,6.601387e+05,6.632223e+05,6.614657e+05,6.593371e+05,6.577352e+05,6.556875e+05,6.525686e+05,6.496116e+05
3,43,3,New York,state,NaN,254252.779113,255434.277260,256586.354319,258938.054684,261312.861642,...,8.003524e+05,8.097383e+05,8.158963e+05,8.176960e+05,8.138909e+05,8.098676e+05,8.061245e+05,8.010134e+05,7.962211e+05,7.925699e+05
4,47,4,Pennsylvania,state,NaN,174559.002524,174976.730983,175332.368754,176107.165982,176923.284302,...,4.248046e+05,4.293702e+05,4.311122e+05,4.308775e+05,4.290796e+05,4.284136e+05,4.285068e+05,4.286530e+05,4.279736e+05,4.276247e+05
5,21,5,Illinois,state,NaN,235256.760812,235512.222250,235981.456844,237108.204794,238424.190898,...,4.033536e+05,4.065540e+05,4.075102e+05,4.067687e+05,4.043115e+05,4.024857e+05,4.014055e+05,4.003108e+05,3.997609e+05,3.994359e+05
6,44,6,Ohio,state,NaN,184512.403877,184636.451708,184812.031306,185287.639405,185991.099889,...,3.472867e+05,3.518041e+05,3.540101e+05,3.544498e+05,3.534740e+05,3.529080e+05,3.527707e+05,3.526248e+05,3.528212e+05,3.533256e+05
7,16,7,Georgia,state,NaN,225803.028596,226294.780009,226855.667649,228046.146634,229344.774806,...,4.978349e+05,5.048135e+05,5.082074e+05,5.084555e+05,5.062317e+05,5.041633e+05,5.023411e+05,5.001124e+05,4.981083e+05,4.966375e+05
8,36,8,North Carolina,state,NaN,221701.517825,221984.384402,222294.720303,222975.213636,223755.400132,...,5.126762e+05,5.223289e+05,5.274638e+05,5.282193e+05,5.254644e+05,5.229249e+05,5.207245e+05,5.183266e+05,5.158814e+05,5.140281e+05
9,30,9,Michigan,state,NaN,218791.385245,218913.912640,219309.961572,220122.283021,221315.081242,...,3.768668e+05,3.810053e+05,3.820358e+05,3.807678e+05,3.778891e+05,3.758983e+05,3.745333e+05,3.732767e+05,3.727723e+05,3.728889e+05

In [5]:
# MERGE THE TWO DATAFRAMES

# import module
import pandas as pd
  
# assign dataframes
data1 = bottom_tier_df
  
data2 = top_tier_df
  
# display dataframes
print('Dataframes:')
display(data1)
display(data2)
  
# merge two data frames
print('After merging:')
data_concat_df=pd.concat([data1, data2], axis=0)

Dataframes:

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,9,0,California,state,NaN,89624.515496,89884.433457,90238.378672,91016.357221,91927.959329,...,453606.509898,458283.477498,460225.049623,459329.031446,456413.649672,453490.379120,450836.847710,447977.931639,445233.122512,443732.072378
1,54,1,Texas,state,NaN,45216.179220,45232.262069,45232.902130,45274.496444,45297.104597,...,152121.376615,154219.962249,155651.135837,156267.965090,156238.806184,156230.582057,156216.864130,155966.859437,157180.859647,158813.326460
2,14,2,Florida,state,NaN,47321.386391,47419.997110,47544.225430,47801.359914,48088.896650,...,225506.975031,230911.273801,235012.521558,237642.484361,238832.617055,239488.726785,239995.497942,239940.222144,240212.615818,240716.010065
3,43,3,New York,state,NaN,59664.039749,59854.033446,60043.257891,60453.791670,60898.438923,...,190683.528569,193669.512760,195740.533141,196788.061532,196711.606851,196470.887585,196371.598223,196102.753785,196161.417482,196463.866752
4,47,4,Pennsylvania,state,NaN,33211.520698,33275.067849,33335.577025,33466.397957,33614.644706,...,119054.183310,120178.976156,120605.644971,120345.178225,119758.372942,119713.606592,120050.520749,120409.350367,121548.300341,122704.062243
5,21,5,Illinois,state,NaN,36073.718331,36094.565711,36160.303038,36301.144718,36472.395390,...,106009.236584,106680.911130,106879.245562,106738.041890,106410.150354,106467.198581,106814.799330,107137.660737,108609.867521,110559.153879
6,44,6,Ohio,state,NaN,34274.232208,34291.881224,34327.386705,34428.253768,34587.239371,...,102885.826670,104267.650902,105165.034705,105509.062151,105439.850284,105511.254826,105725.113619,105998.564943,106773.364177,107650.379376
7,16,7,Georgia,state,NaN,38992.575868,39071.203069,39168.234964,39375.140611,39610.397957,...,149189.284735,151640.425763,153527.119179,154716.194867,155163.016132,155373.111417,155465.606454,155389.079874,156550.752846,158256.126520
8,36,8,North Carolina,state,NaN,45181.794529,45243.859773,45306.597587,45453.740169,45629.993446,...,148902.249703,152017.649537,154207.251003,155463.228274,155911.472101,156182.750453,156371.002754,156391.592038,157597.663370,159490.138014
9,30,9,Michigan,state,NaN,26259.998892,26267.599398,26320.480768,26426.457801,26593.727268,...,99100.696568,99953.844419,100166.652345,99850.931873,99190.818754,98812.810245,98555.996178,98390.614961,99911.728281,101851.839318
10,40,10,New Jersey,state,NaN,78243.863146,78446.125781,78631.900330,79053.591547,79471.782816,...,262452.348477,265891.212853,267863.635882,268182.910691,267939.080963,268163.573182,268887.722956,269485.767728,272243.241005,275985.057273
11,56,11,Virginia,state,NaN,51640.081844,51760.626177,51894.961969,52153.780910,52402.743490,...,181788.225283,185008.067810,187581.517102,189270.484511,190066.258826,190661.047761,191454.464458,191998.910737,193456.188405,195116.382992
12,59,12,Washington,state,NaN,92802.079092,92958.703736,93134.773909,93482.735123,93848.828787,...,378166.880750,381932.800046,382345.280386,380153.314751,376666.364274,373966.548132,371934.245895,369927.615708,368821.302671,368512.926217
13,8,13,Arizona,state,NaN,66627.983865,66749.311642,66911.928037,67246.074793,67628.057887,...,290265.154440,295700.957139,299109.122369,299803.959592,298069.312344,295485.475563,292653.230246,289461.107953,287552.478358,286839.552769
14,26,14,Massachusetts,state,NaN,105998.083724,106304.964894,106691.252447,107459.795764,108287.215169,...,350653.472652,355138.699545,357769.138056,358264.468504,357068.088721,355961.310813,355575.668117,355608.243133,356533.280950,357914.266569
15,53,15,Tennessee,state,NaN,35975.672744,36002.259177,36035.857180,36113.765966,36209.754709,...,132259.150499,133883.793306,134950.929860,135522.669611,135435.710883,135205.772973,135035.330053,134842.673694,137154.982407,140369.957646
16,22,16,Indiana,state,NaN,35969.074375,35935.270892,35884.213994,35770.748359,35717.260677,...,118631.971359,120061.661524,121085.936291,121552.741182,121596.505491,121639.133225,121837.507523,122006.130613,122850.027889,123985.479652
17,32,17,Missouri,state,NaN,30340.107672,30360.579399,30406.615119,30517.669821,30668.127813,...,109747.781801,110963.759780,111987.731827,112473.685881,112526.569024,112499.232462,112603.949493,112685.378904,113948.059970,115916.846149
18,27,18,Maryland,state,NaN,66531.113531,66538.130566,66595.770491,66728.341006,66966.326515,...,218378.073361,220416.905601,221236.274294,220715.089468,219623.155947,219009.248498,218927.146274,219158.036970,221570.554294,225079.907819
19,60,19,Wisconsin,state,NaN,42922.042986,42914.912378,42955.308122,43021.162885,43152.212645,...,138477.467603,140044.802343,140647.925902,140568.831404,140146.914661,140043.010991,140328.320907,140807.923805,142934.764683,145329.309868
20,10,20,Colorado,state,NaN,93256.281889,93557.946280,93887.094307,94647.201989,95511.145557,...,368186.015326,372093.715484,373480.751057,372524.332262,370192.561139,368122.098542,366383.711544,364401.562550,363091.897455,362728.053757
21,31,21,Minnesota,state,NaN,51496.414379,51683.611372,51861.622300,52277.664760,52740.319622,...,190256.732160,192383.417993,193207.572416,192890.292274,191832.898540,191071.405690,190746.694264,190493.925469,191171.216283,192280.151356
22,51,22,South Carolina,state,NaN,34519.446250,34596.104510,34668.820997,34836.479727,34997.742937,...,120679.094493,123027.545637,124767.232272,125878.121017,126077.876081,126055.550609,125913.183247,125663.156104,127307.761063,129624.880382
23,4,23,Alabama,state,NaN,25833.800098,25883.252445,25922.161543,26007.023453,26104.604787,...,80276.050823,81199.412104,81962.586064,82477.348634,82499.920896,82401.000443,82142.165941,81949.953727,84132.883160,87043.723592
24,25,24,Louisiana,state,NaN,18564.769990,18589.957944,18618.254903,18679.423106,18755.499439,...,70301.684074,70774.955675,71135.449637,71036.672208,70405.474056,69724.003058,69221.202165,68792.427557,70969.024699,74107.302076
25,24,25,Kentucky,state,NaN,19093.361109,19095.080969,19109.411217,19146.123994,19205.410852,...,73628.504560,74816.372852,76183.228930,77282.569557,78010.102434,78484.171431,78938.667544,79188.803611,81301.439345,83916.889959
26,46,26,Oregon,state,NaN,82975.839236,83127.806135,83272.688212,83592.982719,83913.454900,...,343337.786585,346741.528577,347607.551226,346273.283471,343663.080508,341529.164138,339873.937477,338190.332121,337367.159596,337437.275940
27,45,27,Oklahoma,state,NaN,22654.180190,22667.161036,22712.485994,22797.963116,22914.086767,...,83556.227468,84515.748468,85484.344715,86100.708604,86531.156007,86968.828462,87476.409395,87734.564856,88633.986204,89956.652980
28,11,28,Connecticut,state,NaN,83949.711748,84300.583819,84670.627235,85305.181941,85837.535714,...,222660.172404,226052.563220,228420.191190,229455.737140,229712.601358,230050.221362,231010.651571,231964.862716,233417.082050,234953.688716
29,19,29,Iowa,state,NaN,25830.291075,25880.221970,25935.447536,26046.135129,26167.463353,...,97482.610205,98729.322504,99723.371658,100128.179819,100169.380246,100289.964449,100510.546890,100615.946749,101300.984298,102434.648454
30,55,30,Utah,state,NaN,95826.931134,95857.127854,95945.838831,96157.927697,96923.714448,...,379798.189062,383704.118117,384198.195651,381768.772501,377818.094615,374155.059262,370853.896567,367421.788383,365687.765657,365568.398928
31,6,31,Arkansas,state,NaN,19619.254686,19645.529453,19673.249933,19737.032053,19802.744088,...,67128.580962,67450.062849,68057.504912,68670.922125,69096.300282,69265.554347,69253.742443,69276.341133,71228.146623,74089.991996
32,34,32,Mississippi,state,NaN,19084.500384,19069.373221,19068.420926,19068.705567,19138.730245,...,66044.563339,66518.969195,67129.015285,67367.445978,67150.269836,66529.812734,65748.123629,64919.180103,66263.820353,68394.715248
33,42,33,Nevada,state,NaN,80786.911999,80799.192308,80930.769646,81242.849786,81641.324037,...,303222.286920,308836.199406,312396.665743,313403.007752,311796.364248,308997.349943,305612.068249,301969.446205,298803.360407,296630.814425
34,23,34,Kansas,state,NaN,25912.270958,25905.800940,25920.364078,25950.509751,25996.514240,...,86833.211129,87989.752888,89282.207609,90172.407728,90665.343173,90966.050858,91291.672991,91540.783577,92124.282903,92937.142498
35,41,35,New Mexico,state,NaN,NaN,NaN,NaN,NaN,NaN,...,151736.188062,153355.432722,154753.134132,155378.577211,155263.722811,154928.809894,154858.006344,155103.484989,156917.738722,159534.965114
36,38,36,Nebraska,state,NaN,38228.968908,38279.163428,38337.987963,38498.273874,38670.354712,...,127190.734520,128892.318718,130174.637130,130836.688241,130910.617673,130992.882787,131242.486973,131738.655873,132627.281918,133612.885913
37,61,37,West Virginia,state,NaN,12823.905699,12824.243221,12833.563195,12854.473363,12891.099511,...,64452.611580,65549.588359,66128.486165,66211.237425,66045.932451,66006.707101,65838.799642,65609.451364,65776.155100,66203.297867
38,20,38,Idaho,state,NaN,62482.860659,62432.171974,62455.775817,62510.416661,62687.568744,...,314840.058309,318542.094959,319583.166159,318070.752538,314587.072451,310951.133882,307437.665102,303559.996293,300629.820541,299523.587358
39,18,39,Hawaii,state,NaN,86094.651844,86031.628462,86138.428423,86317.867121,86735.673146,...,462643.640321,469255.256169,473915.655957,476199.275958,476706.543457,477134.762652,477314.319228,476402.277731,474478.135804,473426.397298
40,39,40,New Hampshire,state,NaN,66368.664739,66600.692998,66876.242992,67334.880726,67845.005278,...,278379.165208,283115.092428,285671.038335,286335.970004,286097.619902,286131.713222,286958.976382,287682.834825,288492.136336,289466.460239
41,28,41,Maine,state,NaN,47062.745633,47220.074550,47362.863025,47664.847463,47947.759985,...,196376.696424,199520.778694,201191.731762,201153.848470,200158.199307,199242.904110,199102.397747,199443.359712,201210.080915,203273.641537
42,50,42,Rhode Island,state,NaN,72338.481625,72686.798531,73040.793363,73756.436544,74481.891683,...,293779.125165,298205.671346,300821.194818,301340.089627,300697.568052,300271.090251,300612.861274,301058.740460,302315.523179,303623.766047
43,35,43,Montana,state,NaN,NaN,NaN,NaN,NaN,NaN,...,238380.385661,242161.912394,243825.353142,243654.395638,242432.388617,241572.301330,241234.623746,240670.064205,241882.018806,245086.448014
44,13,44,Delaware,state,NaN,59396.975771,59492.893402,59607.317012,59890.808466,60226.231168,...,213538.857009,216065.397841,217312.069704,217787.274462,217660.349148,217850.024685,218319.799281,219020.921363,220565.625982,222330.237292
45,52,45,South Dakota,state,NaN,35002.081944,34939.832500,34819.952590,34702.776564,34644.805815,...,145384.197236,147179.460349,148347.283427,148888.873127,148751.177221,148786.122571,148978.739286,149310.442832,150796.560853,152585.885134
46,37,46,North Dakota,state,NaN,NaN,NaN,NaN,NaN,NaN,...,112482.211621,113832.762139,114680.253307,115238.509013,115103.591367,115047.959525,115193.548025,115312.506644,116701.392986,118004.148268
47,3,47,Alaska,state,NaN,67403.960104,67373.371603,67424.667926,67441.026330,67578.459384,...,209462.336836,211671.483294,213266.326203,214108.380040,214265.772670,214398.056753,214337.575156,214197.757147,214915.079423,216591.144473
48,12,48,District of Columbia,state,NaN,76767.290157,77016.952350,77371.985782,78144.071846,79006.834275,...,396119.671241,396494.098353,395381.282965,393294.052799,390472.426298,388404.264985,386561.864064,384637.295054,383240.248689,383056.334442
49,58,49,Vermont,state,NaN,47132.938046,47198.026489,47308.465144,47542.188995,47811.089302,...,186929.701843,189812.651481,191259.841614,191625.776875,191479.910383,191499.553844,191899.384323,192192.092970,195264.956085,198905.503426
50,62,50,Wyoming,state,NaN,NaN,NaN,NaN,NaN,NaN,...,189857.452688,191954.766118,193668.553793,194780.461586,195415.279927,196442.220139,197879.054325,199108.263216,200554.350939,202849.286277

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,9,0,California,state,NaN,381410.654145,382858.269690,384757.256827,389018.989392,393956.211781,...,1.415305e+06,1.424817e+06,1.420717e+06,1.403990e+06,1.381147e+06,1.362187e+06,1.349850e+06,1.339346e+06,1.323552e+06,1.306169e+06
1,54,1,Texas,state,NaN,202916.175548,203032.083831,203105.204527,203405.058772,203617.483845,...,5.126797e+05,5.219244e+05,5.257246e+05,5.246636e+05,5.201043e+05,5.160057e+05,5.125537e+05,5.089499e+05,5.054180e+05,5.027895e+05
2,14,2,Florida,state,NaN,207723.490682,208190.558962,208753.868875,209893.169308,211117.400523,...,6.375263e+05,6.515731e+05,6.601387e+05,6.632223e+05,6.614657e+05,6.593371e+05,6.577352e+05,6.556875e+05,6.525686e+05,6.496116e+05
3,43,3,New York,state,NaN,254252.779113,255434.277260,256586.354319,258938.054684,261312.861642,...,8.003524e+05,8.097383e+05,8.158963e+05,8.176960e+05,8.138909e+05,8.098676e+05,8.061245e+05,8.010134e+05,7.962211e+05,7.925699e+05
4,47,4,Pennsylvania,state,NaN,174559.002524,174976.730983,175332.368754,176107.165982,176923.284302,...,4.248046e+05,4.293702e+05,4.311122e+05,4.308775e+05,4.290796e+05,4.284136e+05,4.285068e+05,4.286530e+05,4.279736e+05,4.276247e+05
5,21,5,Illinois,state,NaN,235256.760812,235512.222250,235981.456844,237108.204794,238424.190898,...,4.033536e+05,4.065540e+05,4.075102e+05,4.067687e+05,4.043115e+05,4.024857e+05,4.014055e+05,4.003108e+05,3.997609e+05,3.994359e+05
6,44,6,Ohio,state,NaN,184512.403877,184636.451708,184812.031306,185287.639405,185991.099889,...,3.472867e+05,3.518041e+05,3.540101e+05,3.544498e+05,3.534740e+05,3.529080e+05,3.527707e+05,3.526248e+05,3.528212e+05,3.533256e+05
7,16,7,Georgia,state,NaN,225803.028596,226294.780009,226855.667649,228046.146634,229344.774806,...,4.978349e+05,5.048135e+05,5.082074e+05,5.084555e+05,5.062317e+05,5.041633e+05,5.023411e+05,5.001124e+05,4.981083e+05,4.966375e+05
8,36,8,North Carolina,state,NaN,221701.517825,221984.384402,222294.720303,222975.213636,223755.400132,...,5.126762e+05,5.223289e+05,5.274638e+05,5.282193e+05,5.254644e+05,5.229249e+05,5.207245e+05,5.183266e+05,5.158814e+05,5.140281e+05
9,30,9,Michigan,state,NaN,218791.385245,218913.912640,219309.961572,220122.283021,221315.081242,...,3.768668e+05,3.810053e+05,3.820358e+05,3.807678e+05,3.778891e+05,3.758983e+05,3.745333e+05,3.732767e+05,3.727723e+05,3.728889e+05
10,40,10,New Jersey,state,NaN,287234.766678,288060.555044,288894.345552,290710.560826,292605.816716,...,7.257209e+05,7.353664e+05,7.406346e+05,7.407757e+05,7.368850e+05,7.336170e+05,7.318142e+05,7.305331e+05,7.307222e+05,7.312481e+05
11,56,11,Virginia,state,NaN,224188.082931,224771.791578,225426.961043,226742.531996,228144.888666,...,6.546183e+05,6.597185e+05,6.594307e+05,6.550629e+05,6.485761e+05,6.439059e+05,6.411287e+05,6.390327e+05,6.372203e+05,6.358432e+05
12,59,12,Washington,state,NaN,292826.854294,293572.967566,294338.178317,295861.053429,297528.548792,...,1.004546e+06,1.012474e+06,1.004414e+06,9.860001e+05,9.641301e+05,9.485111e+05,9.391043e+05,9.313774e+05,9.232731e+05,9.145537e+05
13,8,13,Arizona,state,NaN,229047.846158,229444.754681,229982.864255,231077.323508,232341.903689,...,6.606152e+05,6.731473e+05,6.785641e+05,6.764935e+05,6.685797e+05,6.601253e+05,6.520030e+05,6.440430e+05,6.369489e+05,6.320674e+05
14,26,14,Massachusetts,state,NaN,331344.964657,332443.087973,333724.108107,336251.794985,339008.442708,...,9.113251e+05,9.224652e+05,9.269432e+05,9.236301e+05,9.141774e+05,9.059897e+05,9.011913e+05,8.980884e+05,8.952248e+05,8.926171e+05
15,53,15,Tennessee,state,NaN,193408.539169,193567.582979,193734.401201,194144.729744,194596.217378,...,5.067991e+05,5.148640e+05,5.186084e+05,5.187425e+05,5.159236e+05,5.128716e+05,5.098640e+05,5.064572e+05,5.038446e+05,5.013449e+05
16,22,16,Indiana,state,NaN,173341.886874,173176.423098,172995.686601,172381.429959,172355.965205,...,3.650608e+05,3.695692e+05,3.711538e+05,3.707011e+05,3.684223e+05,3.665974e+05,3.652898e+05,3.641442e+05,3.627644e+05,3.622493e+05
17,32,17,Missouri,state,NaN,178771.400256,178985.849502,179263.458579,179936.401693,180759.709006,...,3.840714e+05,3.894601e+05,3.918285e+05,3.916533e+05,3.892303e+05,3.872746e+05,3.858438e+05,3.848050e+05,3.828818e+05,3.812147e+05
18,27,18,Maryland,state,NaN,254473.170133,254466.591352,254693.609921,255259.917716,256337.297932,...,6.299756e+05,6.351240e+05,6.356854e+05,6.323362e+05,6.268801e+05,6.232325e+05,6.214096e+05,6.201607e+05,6.196194e+05,6.199255e+05
19,60,19,Wisconsin,state,NaN,185088.821883,185059.475332,185252.480843,185547.921067,186105.139751,...,4.039688e+05,4.082724e+05,4.099414e+05,4.095193e+05,4.080506e+05,4.071963e+05,4.068466e+05,4.062420e+05,4.065813e+05,4.071763e+05
20,10,20,Colorado,state,NaN,302711.172901,303768.983104,304934.290600,307548.964640,310456.961636,...,8.825921e+05,8.919770e+05,8.915910e+05,8.836963e+05,8.720302e+05,8.633902e+05,8.573294e+05,8.517524e+05,8.457658e+05,8.403641e+05
21,31,21,Minnesota,state,NaN,208189.743101,208882.195814,209472.275594,210888.399371,212434.541897,...,4.889428e+05,4.933525e+05,4.936436e+05,4.908730e+05,4.866164e+05,4.840204e+05,4.824583e+05,4.804283e+05,4.780955e+05,4.762191e+05
22,51,22,South Carolina,state,NaN,196716.622727,197124.016369,197497.681539,198336.397923,199144.854195,...,4.630373e+05,4.712933e+05,4.764251e+05,4.785095e+05,4.777726e+05,4.772202e+05,4.767822e+05,4.760315e+05,4.749997e+05,4.739770e+05
23,4,23,Alabama,state,NaN,168890.332136,169130.349281,169315.643207,169724.440030,170209.953925,...,3.598679e+05,3.642496e+05,3.663239e+05,3.669267e+05,3.659859e+05,3.650114e+05,3.639021e+05,3.625718e+05,3.624824e+05,3.628235e+05
24,25,24,Louisiana,state,NaN,164722.890252,164989.657559,165218.350739,165700.661605,166234.386392,...,3.230836e+05,3.257531e+05,3.267050e+05,3.265081e+05,3.247944e+05,3.233367e+05,3.218899e+05,3.201409e+05,3.186519e+05,3.173709e+05
25,24,25,Kentucky,state,NaN,155358.277823,155433.012624,155569.035123,155901.585303,156342.744693,...,3.176264e+05,3.217802e+05,3.236959e+05,3.239754e+05,3.228814e+05,3.223893e+05,3.224066e+05,3.222548e+05,3.218782e+05,3.214470e+05
26,46,26,Oregon,state,NaN,246577.673948,247133.180812,247590.627549,248553.431801,249366.463123,...,7.331466e+05,7.407694e+05,7.403411e+05,7.333391e+05,7.228907e+05,7.152536e+05,7.099667e+05,7.052718e+05,6.998458e+05,6.949813e+05
27,45,27,Oklahoma,state,NaN,152282.013205,152299.209442,152576.954611,153049.848660,153704.357762,...,3.201272e+05,3.245449e+05,3.271593e+05,3.282670e+05,3.279348e+05,3.277305e+05,3.277614e+05,3.276078e+05,3.258817e+05,3.242223e+05
28,11,28,Connecticut,state,NaN,297967.168072,299291.167822,300584.127889,302814.316835,304692.819120,...,5.864066e+05,5.951194e+05,6.006859e+05,6.018095e+05,5.998119e+05,5.980284e+05,5.976801e+05,5.971339e+05,5.966060e+05,5.967475e+05
29,19,29,Iowa,state,NaN,167816.545833,168154.930661,168488.066103,169147.684393,169819.615104,...,3.447133e+05,3.498260e+05,3.528835e+05,3.539068e+05,3.537086e+05,3.537796e+05,3.540477e+05,3.535983e+05,3.506479e+05,3.475495e+05
30,55,30,Utah,state,NaN,273433.817217,273422.557316,273545.443500,273849.108861,275764.276726,...,7.789215e+05,7.867349e+05,7.850272e+05,7.763263e+05,7.640598e+05,7.538393e+05,7.457964e+05,7.381228e+05,7.325290e+05,7.278885e+05
31,6,31,Arkansas,state,NaN,143962.475204,144126.127586,144315.866125,144736.475835,145138.549230,...,3.140619e+05,3.183794e+05,3.202302e+05,3.205075e+05,3.195888e+05,3.191780e+05,3.187701e+05,3.182869e+05,3.181028e+05,3.183895e+05
32,34,32,Mississippi,state,NaN,136274.712600,136223.439178,136251.804709,136383.251260,136753.737152,...,2.852296e+05,2.882033e+05,2.899305e+05,2.904776e+05,2.895641e+05,2.885802e+05,2.875972e+05,2.867542e+05,2.862827e+05,2.860514e+05
33,42,33,Nevada,state,NaN,267505.174665,267565.808024,267997.118450,268996.317437,270237.888185,...,6.344294e+05,6.415076e+05,6.437076e+05,6.405400e+05,6.327566e+05,6.246645e+05,6.170391e+05,6.101157e+05,6.027839e+05,5.967031e+05
34,23,34,Kansas,state,NaN,172587.210926,172556.636860,172757.985057,172997.939461,173436.574981,...,3.836290e+05,3.894186e+05,3.922686e+05,3.926615e+05,3.912414e+05,3.904234e+05,3.901930e+05,3.902287e+05,3.882857e+05,3.861553e+05
35,41,35,New Mexico,state,NaN,NaN,NaN,NaN,NaN,NaN,...,4.432300e+05,4.488637e+05,4.518422e+05,4.520404e+05,4.497008e+05,4.476049e+05,4.458439e+05,4.443716e+05,4.428303e+05,4.422268e+05
36,38,36,Nebraska,state,NaN,169428.415844,169733.368355,170010.505261,170476.987164,170861.635597,...,3.880403e+05,3.933166e+05,3.955154e+05,3.955072e+05,3.941450e+05,3.940741e+05,3.948393e+05,3.956041e+05,3.961677e+05,3.973512e+05
37,61,37,West Virginia,state,NaN,133477.388891,133496.864460,133563.597237,133718.950650,133967.660361,...,2.650154e+05,2.681013e+05,2.693767e+05,2.695144e+05,2.683774e+05,2.676847e+05,2.670642e+05,2.665813e+05,2.656137e+05,2.651203e+05
38,20,38,Idaho,state,NaN,212728.995387,212565.261864,212705.485447,212935.192954,213581.932827,...,7.400458e+05,7.481502e+05,7.470571e+05,7.395705e+05,7.278292e+05,7.175345e+05,7.081966e+05,6.979600e+05,6.853814e+05,6.742541e+05
39,18,39,Hawaii,state,NaN,367269.838889,367518.148343,368301.896840,369748.215610,371978.806139,...,1.385857e+06,1.400561e+06,1.405134e+06,1.398950e+06,1.385356e+06,1.373444e+06,1.366676e+06,1.360167e+06,1.350005e+06,1.337688e+06
40,39,40,New Hampshire,state,NaN,216610.744085,217379.422878,218253.534511,219478.080415,220725.191026,...,6.232494e+05,6.319509e+05,6.350648e+05,6.340515e+05,6.302659e+05,6.278746e+05,6.274303e+05,6.270759e+05,6.245873e+05,6.213530e+05
41,28,41,Maine,state,NaN,175914.557755,176544.480559,177077.088486,178284.897879,179345.723832,...,5.677656e+05,5.777562e+05,5.817505e+05,5.801562e+05,5.750609e+05,5.711847e+05,5.693173e+05,5.677942e+05,5.663251e+05,5.647526e+05
42,50,42,Rhode Island,state,NaN,216160.042601,217214.264310,218242.735229,220350.713672,222470.301212,...,6.406504e+05,6.508077e+05,6.554713e+05,6.546939e+05,6.500868e+05,6.472178e+05,6.462074e+05,6.454852e+05,6.442971e+05,6.432229e+05
43,35,43,Montana,state,NaN,NaN,NaN,NaN,NaN,NaN,...,7.453979e+05,7.614318e+05,7.657510e+05,7.619828e+05,7.510203e+05,7.413271e+05,7.334241e+05,7.264619e+05,7.183588e+05,7.101909e+05
44,13,44,Delaware,state,NaN,240329.909103,240744.838254,241251.893543,242442.159311,243813.558634,...,5.500424e+05,5.560663e+05,5.575337e+05,5.563461e+05,5.529992e+05,5.516306e+05,5.512007e+05,5.508492e+05,5.496888e+05,5.494847e+05
45,52,45,South Dakota,state,NaN,140452.715628,140358.080189,139904.910005,139604.706249,139756.472928,...,4.583520e+05,4.669914e+05,4.712360e+05,4.723185e+05,4.703641e+05,4.696724e+05,4.692195e+05,4.682451e+05,4.658701e+05,4.642690e+05
46,37,46,North Dakota,state,NaN,NaN,NaN,NaN,NaN,NaN,...,3.721036e+05,3.755556e+05,3.770369e+05,3.775948e+05,3.768284e+05,3.772356e+05,3.780692e+05,3.783892e+05,3.777998e+05,3.766734e+05
47,3,47,Alaska,state,NaN,198520.512915,198568.197025,198690.778495,198696.423767,198842.392740,...,4.916224e+05,4.960742e+05,4.987973e+05,4.997747e+05,4.985872e+05,4.968313e+05,4.950584e+05,4.928231e+05,4.905888e+05,4.892161e+05
48,12,48,District of Columbia,state,NaN,332166.445756,333310.022616,335135.066104,338830.066383,343020.868769,...,1.174120e+06,1.179100e+06,1.174075e+06,1.161700e+06,1.143171e+06,1.129467e+06,1.121456e+06,1.117094e+06,1.110598e+06,1.105009e+06
49,58,49,Vermont,state,NaN,167124.041405,167370.247308,167808.072427,168657.815656,169639.671766,...,5.120394e+05,5.189542e+05,5.218717e+05,5.207747e+05,5.172771e+05,5.145704e+05,5.139151e+05,5.124758e+05,5.138952e+05,5.149789e+05
50,62,50,Wyoming,state,NaN,NaN,NaN,NaN,NaN,NaN,...,5.512157e+05,5.592694e+05,5.631357e+05,5.636206e+05,5.611273e+05,5.605087e+05,5.614247e+05,5.618821e+05,5.602759e+05,5.593237e+05

After merging:

In [6]:
# check the firts 10 records

data_concat_df.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,9,0,California,state,NaN,89624.515496,89884.433457,90238.378672,91016.357221,91927.959329,...,453606.509898,458283.477498,460225.049623,459329.031446,456413.649672,453490.379120,450836.847710,447977.931639,445233.122512,443732.072378
1,54,1,Texas,state,NaN,45216.179220,45232.262069,45232.902130,45274.496444,45297.104597,...,152121.376615,154219.962249,155651.135837,156267.965090,156238.806184,156230.582057,156216.864130,155966.859437,157180.859647,158813.326460
2,14,2,Florida,state,NaN,47321.386391,47419.997110,47544.225430,47801.359914,48088.896650,...,225506.975031,230911.273801,235012.521558,237642.484361,238832.617055,239488.726785,239995.497942,239940.222144,240212.615818,240716.010065
3,43,3,New York,state,NaN,59664.039749,59854.033446,60043.257891,60453.791670,60898.438923,...,190683.528569,193669.512760,195740.533141,196788.061532,196711.606851,196470.887585,196371.598223,196102.753785,196161.417482,196463.866752
4,47,4,Pennsylvania,state,NaN,33211.520698,33275.067849,33335.577025,33466.397957,33614.644706,...,119054.183310,120178.976156,120605.644971,120345.178225,119758.372942,119713.606592,120050.520749,120409.350367,121548.300341,122704.062243
5,21,5,Illinois,state,NaN,36073.718331,36094.565711,36160.303038,36301.144718,36472.395390,...,106009.236584,106680.911130,106879.245562,106738.041890,106410.150354,106467.198581,106814.799330,107137.660737,108609.867521,110559.153879
6,44,6,Ohio,state,NaN,34274.232208,34291.881224,34327.386705,34428.253768,34587.239371,...,102885.826670,104267.650902,105165.034705,105509.062151,105439.850284,105511.254826,105725.113619,105998.564943,106773.364177,107650.379376
7,16,7,Georgia,state,NaN,38992.575868,39071.203069,39168.234964,39375.140611,39610.397957,...,149189.284735,151640.425763,153527.119179,154716.194867,155163.016132,155373.111417,155465.606454,155389.079874,156550.752846,158256.126520
8,36,8,North Carolina,state,NaN,45181.794529,45243.859773,45306.597587,45453.740169,45629.993446,...,148902.249703,152017.649537,154207.251003,155463.228274,155911.472101,156182.750453,156371.002754,156391.592038,157597.663370,159490.138014
9,30,9,Michigan,state,NaN,26259.998892,26267.599398,26320.480768,26426.457801,26593.727268,...,99100.696568,99953.844419,100166.652345,99850.931873,99190.818754,98812.810245,98555.996178,98390.614961,99911.728281,101851.839318

In [7]:
# drop column StateName data_concat_df (duplicate of RegionName) and Region Type
# data_concat_df.drop(['RegionType', 'StateName'], axis=1, inplace=True)
# data_concat_df.head(10)

data_concat_df.dtypes

RegionID        int64
SizeRank        int64
RegionName     object
RegionType     object
StateName     float64
               ...
2022-10-31    float64
2022-11-30    float64
2022-12-31    float64
2023-01-31    float64
2023-02-28    float64
Length: 283, dtype: object

In [8]:
# Check for uniques
data_concat_df.RegionName.unique()

array(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania',
       'Illinois', 'Ohio', 'Georgia', 'North Carolina', 'Michigan',
       'New Jersey', 'Virginia', 'Washington', 'Arizona', 'Massachusetts',
       'Tennessee', 'Indiana', 'Missouri', 'Maryland', 'Wisconsin',
       'Colorado', 'Minnesota', 'South Carolina', 'Alabama', 'Louisiana',
       'Kentucky', 'Oregon', 'Oklahoma', 'Connecticut', 'Iowa', 'Utah',
       'Arkansas', 'Mississippi', 'Nevada', 'Kansas', 'New Mexico',
       'Nebraska', 'West Virginia', 'Idaho', 'Hawaii', 'New Hampshire',
       'Maine', 'Rhode Island', 'Montana', 'Delaware', 'South Dakota',
       'North Dakota', 'Alaska', 'District of Columbia', 'Vermont',
       'Wyoming'], dtype=object)

In [9]:
#check first 10 rows
data_concat_df.head(10)

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28
0,9,0,California,state,NaN,89624.515496,89884.433457,90238.378672,91016.357221,91927.959329,...,453606.509898,458283.477498,460225.049623,459329.031446,456413.649672,453490.379120,450836.847710,447977.931639,445233.122512,443732.072378
1,54,1,Texas,state,NaN,45216.179220,45232.262069,45232.902130,45274.496444,45297.104597,...,152121.376615,154219.962249,155651.135837,156267.965090,156238.806184,156230.582057,156216.864130,155966.859437,157180.859647,158813.326460
2,14,2,Florida,state,NaN,47321.386391,47419.997110,47544.225430,47801.359914,48088.896650,...,225506.975031,230911.273801,235012.521558,237642.484361,238832.617055,239488.726785,239995.497942,239940.222144,240212.615818,240716.010065
3,43,3,New York,state,NaN,59664.039749,59854.033446,60043.257891,60453.791670,60898.438923,...,190683.528569,193669.512760,195740.533141,196788.061532,196711.606851,196470.887585,196371.598223,196102.753785,196161.417482,196463.866752
4,47,4,Pennsylvania,state,NaN,33211.520698,33275.067849,33335.577025,33466.397957,33614.644706,...,119054.183310,120178.976156,120605.644971,120345.178225,119758.372942,119713.606592,120050.520749,120409.350367,121548.300341,122704.062243
5,21,5,Illinois,state,NaN,36073.718331,36094.565711,36160.303038,36301.144718,36472.395390,...,106009.236584,106680.911130,106879.245562,106738.041890,106410.150354,106467.198581,106814.799330,107137.660737,108609.867521,110559.153879
6,44,6,Ohio,state,NaN,34274.232208,34291.881224,34327.386705,34428.253768,34587.239371,...,102885.826670,104267.650902,105165.034705,105509.062151,105439.850284,105511.254826,105725.113619,105998.564943,106773.364177,107650.379376
7,16,7,Georgia,state,NaN,38992.575868,39071.203069,39168.234964,39375.140611,39610.397957,...,149189.284735,151640.425763,153527.119179,154716.194867,155163.016132,155373.111417,155465.606454,155389.079874,156550.752846,158256.126520
8,36,8,North Carolina,state,NaN,45181.794529,45243.859773,45306.597587,45453.740169,45629.993446,...,148902.249703,152017.649537,154207.251003,155463.228274,155911.472101,156182.750453,156371.002754,156391.592038,157597.663370,159490.138014
9,30,9,Michigan,state,NaN,26259.998892,26267.599398,26320.480768,26426.457801,26593.727268,...,99100.696568,99953.844419,100166.652345,99850.931873,99190.818754,98812.810245,98555.996178,98390.614961,99911.728281,101851.839318

In [10]:
#data shape
data_concat_df.shape

(102, 283)

In [16]:
# melt the dataframe
melted_df = pd.melt(data_concat_df, id_vars=['RegionID', 'RegionType','RegionName', 'StateName','SizeRank'], var_name='Date', value_name='ZHVI')

In [14]:
melted_df.head(10)

   RegionID      RegionName  StateName  SizeRank        Date   ZHVI
0         9      California        NaN         0  RegionType  state
1        54           Texas        NaN         1  RegionType  state
2        14         Florida        NaN         2  RegionType  state
3        43        New York        NaN         3  RegionType  state
4        47    Pennsylvania        NaN         4  RegionType  state
5        21        Illinois        NaN         5  RegionType  state
6        44            Ohio        NaN         6  RegionType  state
7        16         Georgia        NaN         7  RegionType  state
8        36  North Carolina        NaN         8  RegionType  state
9        30        Michigan        NaN         9  RegionType  state

In [18]:
# convert the 'Date' column to datetime format
melted_df['Date'] = pd.to_datetime(melted_df['Date'], format='%Y-%m')

In [19]:
melted_df.head(10)

,RegionID,RegionType,RegionName,StateName,SizeRank,Date,ZHVI
0,9,state,California,NaN,0,2000-01-31,89624.515496
1,54,state,Texas,NaN,1,2000-01-31,45216.179220
2,14,state,Florida,NaN,2,2000-01-31,47321.386391
3,43,state,New York,NaN,3,2000-01-31,59664.039749
4,47,state,Pennsylvania,NaN,4,2000-01-31,33211.520698
5,21,state,Illinois,NaN,5,2000-01-31,36073.718331
6,44,state,Ohio,NaN,6,2000-01-31,34274.232208
7,16,state,Georgia,NaN,7,2000-01-31,38992.575868
8,36,state,North Carolina,NaN,8,2000-01-31,45181.794529
9,30,state,Michigan,NaN,9,2000-01-31,26259.998892

In [21]:
# confirm the shape of our transformed dataframe
melted_df.shape

(28356, 7)

In [25]:
# Drop the StateName Column(duplictated RegionName column)
zillow_df = melted_df.drop(['StateName'], axis=1)

In [26]:
# Check for nulls
zillow_df.isnull()

       RegionID  RegionType  RegionName  SizeRank   Date   ZHVI
0         False       False       False     False  False  False
1         False       False       False     False  False  False
2         False       False       False     False  False  False
3         False       False       False     False  False  False
4         False       False       False     False  False  False
...         ...         ...         ...       ...    ...    ...
28351     False       False       False     False  False  False
28352     False       False       False     False  False  False
28353     False       False       False     False  False  False
28354     False       False       False     False  False  False
28355     False       False       False     False  False  False

[28356 rows x 6 columns]

In [27]:
# publish dataframes into CSVs
zillow_df.to_csv('master_affordable_housing.csv')